.movies_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    grid-auto-rows: auto;
    column-gap: 15px;
    row-gap: 24px;
}

.movies_container_wrapper{
    position: relative;
}

.next_page_btn{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    right: -90px;
    bottom: 40px;
    cursor: pointer;
}
