.filter_container {
    color: black;
    border: 1px solid black;
    height: auto;
    padding: 15px;
    width: 360px;
    border-radius: 4px;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter_container hr{
    border: 1px solid black;
    margin: 10px 0;
}

.filter_title{
    font-size: 36px;
    margin-bottom: 10px; 
    text-align: center;
}

.filter_genres_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter_genre{
    display: flex;
    gap: 10px;
}

.filter_genre input {
    margin-top: 2px; 
}

.slider {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.thumb {
    background-color: #fff; 
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    border: 2px solid #1E1257; 
}

input[type="radio"] {
    margin-top: 2px; 
}

.filter_genres_container label {
    margin-right: 20px; 
}
