.hr {
    color: black;
    width: 100%;
    opacity: 1;
}

.active_link {
    background-color: var(--time-color) !important;
    color: var(--text-color-1) !important;
    border-radius: 12px !important;
    font-family: var(--montserrat-font-family) !important;
    font-weight: 400 !important;
    text-decoration: none;
    transition-duration: 0.3s;
}

.link {
    color: var(--text-color-2) !important;
    background-color: none !important;
    border-radius: 12px !important;
    font-family: var(--montserrat-font-family) !important;
    font-weight: 400 !important;
    text-decoration: none;
    width: 100%;
    transition-duration: 0.3s;
}