
.container{
    display: flex;
    flex-direction: column;
    align-items: start-left;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    gap: 12px;
}

.title{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
}
