.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

.movieinfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    color: black;
    grid-template-columns: repeat(3, minmax(200px,1fr)); 
    align-items: start;
}

  
  .movieinfo > :first-child {
    flex: 2;
    min-width: 300px;
  }
  
 
  .movie-trailer {
    width: 100%;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .movieinfo {
      flex-direction: column;
      align-items: center;
    }
  
    .movieinfo > * {
      width: 100%;
      text-align: center;
    }
  
    .movie-trailer {
      margin-top: 20px;
    }
  }
