.booking_wrapper{
    color: var(--text-color-2);
    flex: 1;
    background-color: var(--text-color-1);
    width: 80%;
    margin: auto;
}

.booking_container{
    display: flex;
    gap: 30px;
    padding: 40px 100px;
}

.tickets_booking_container{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    background-color: #FFF;
    padding: 22px 0;
    width: 60%;
}

.placement_container{
    background-color: #FFF;
    border: 1px solid #000;
    max-height: 70vh;
    padding: 45px 55px;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 30px 200px;
    background-color: #FFF;
}

.tickets_container_title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.tickets_container{
    flex-grow: 1;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.interaction_section{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--text-color-2);
    padding-top: 16px;
    gap: 20px;
}
