.input {
    outline: none;
    border: 1px solid #03010B;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 300;
    background-color: transparent;
    display: inline-block;
}

.input::placeholder{
    color: #03010B;
    font-weight: 300;
}

@media (max-width: 1024px) {
    .input {
        padding: 10px; 
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .input {
        padding: 8px; 
        font-size: 14px; 
    }
}
