.container {
    background-color: var(--text-color-1);
    flex: 1;
}

.title {
    background-color: var(--time-color);
    color: var(--text-color-1);
    padding: 30px;
    font-weight: 300;
    font-size: 36px;
}

.data {
    flex: 70%;
    box-sizing: border-box;
    display: flex;
    min-height: 70vh;
}

.navbar {
    color: var(--text-color-2);
    font-size: 32px;
    padding: 32px 19px 0 30px;
    border-right: 1px solid var(--time-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.link {
    color: var(--text-color-2);
    text-decoration: none;
}

.logout_btn{
    cursor: pointer;
}
