.wrapper{
    flex: 1;
    padding: 70px 40px 70px 110px;
    background-color: #F7F5FF;
    width: 80%;
    margin: auto;
}
.movies_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 90px
}


.movies_header{
    color: black;
}

.movies_container_personalized{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    grid-auto-rows: auto;
    column-gap: 15px;
    row-gap: 24px;
}


@media (max-width: 1024px) {
    .movies_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .movies_wrapper > div {
        width: 100%;
    }

    .movies_filter {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .movies_wrapper {
        gap: 10px;
    }
}
