.wrapper{
    flex: 1;
    padding: 70px 40px 70px 110px;
    background-color: #F7F5FF;
    width: 80%;
    margin: auto;
}
.movies_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 90px
}


.movies_header{
    color: black;
}
