.movies_trailer_container{
    color: var(--text-color-2);
    font-size: 40px;
}

.trailer_container {
  position: relative;
  width: 100%; /* Ensure it takes up the full width of the parent */
  height: 100%; /* Allow it to take the height of the parent */
  padding-top: 56.25%; /* Maintain 16:9 aspect ratio based on width */
  max-width: 100%;
  background: black;
  text-align: center;
  overflow: hidden; /* Hide anything that overflows */
}

.trailer_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: contain; /* Keeps aspect ratio while fitting within container */
}

