.img img{
    width: 424px;
    heigth: 640px;
    overflow: hidden;
}

.description {
    flex: 1;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 800px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 20px;
}

.description span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: normal;
    word-break: break-word; 
}


@media (max-width: 768px) {
    .img {
        width: 100%;
        height: auto;
    }

    .description {
        font-size: 16px;
        max-width: 100%;
        padding: 10px;
    }
}
