.wrapper{
    color: #03010B;
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box; 
    min-height: 100vh; 
}

.registrantion_link{
    color: #131D49;
    text-align: center;
    font-size: 14px; 
}

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .wrapper > * {
        width: 100%;
        text-align: center;
    }

    input, button {
        width: 100%; 
        margin: 10px 0; 
    }

    button {
        padding: 12px; 
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 5px;
    }

    input, button {
        width: 100%;
        margin: 10px 0; 
    }

    button {
        padding: 12px; 
    }
}
